# ROS 2 / colcon generated folders
build/
install/
log/

#  ignore generated folders in any subdirectory
**/build/
**/install/
**/log/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code
.vscode/

# System files
.DS_Store
Thumbs.db

# Temporary files
*.log
*.tmp